.containerCarousel {
  font-weight: 700;
  line-height: 1;
  font-size: 30px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
  text-align:center;
  color: white;
  border: 2px solid white;
  padding: 50px
}

.sliderItem {
  text-align: center
}